*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-clean{
    background-color: #121212;
}
.bg-not{
    background-color: #000;
}
#carrosel{
    width: 60%;
    margin-left: 20%;
}
.espaco{
    padding-top: 5vh;
}
.cat-img{
    width: 100%;
}
#margin{
    margin-top: 7%;
}
.text-size{
    font-size: 1vw;
}
#conteudo{
    background-color: rgba(17.5, 17.5, 17.5, 0.7);
    max-height: 70vh;
}
.bg-noticia{
    background-color: #1b1e23;
}
.title-noticia{
    font-weight: 600;
    color: #fff;
    padding-top: 1vw;
}
.text-bg{
    background-color: rgba(17.5, 17.5, 17.5, 0.7);
    border-radius: 20px!important;
}
@media (max-width: 450px)
{
    .text-size{
        font-size: 4vw;
    }
    .cat-img{
        width: 60%;
        margin-left: 20%;
    }
}
